<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout2">
<head>

    <meta charset="UTF-8"/>
    <title>Creation d'un compte</title>

</head>
<body>
<div layout:fragment="content">
    <h3 class="center white-text" style="padding-top: 30px; padding-bottom: 30px;"></h3>
    <div class="white" style="padding-top: 50px; padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="col s12 l5">
                    <h3>Erreur 403 :(</h3>
                    <p>Vous n'êtes pas autoriser [[${#httpServletRequest.remoteUser}]] </p>
                </div>
                <div class="col s12 l5 offset-l2">
                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>