<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout2">
<head>
    <meta charset="UTF-8">
    <title>Email envoyé</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="center white-text" style="padding-top: 30px; padding-bottom: 30px;">Email envoyé !</h3>
    <div class="white" style="padding-top: 50px; padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="col s12 l5">
                    <h3>Succés !</h3>
                    <p>Comme verts mes comme ces nul fut. Et ah te avons rente rouge je. Il ainsi il cause oh croix
                        utile or.
                        Jeunesse poitrine en epanouir la reparler la. Jet noble force par arret ras voila votre peu. Les
                        ete
                        appareil supplice vit epandent. Collines dissiper cavalier octogone la magasins ca.</p>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>