<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout ="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout2">

<head>

    <meta charset="UTF-8"/>
    <title>Users</title>

</head>
<body>

<div layout:fragment="content">
    <h3 class="center white-text" style="padding-top: 30px; padding-bottom: 30px;">Les utilisateurs</h3>
    <div class="white" style="padding-top: 50px; padding-bottom: 50px;">
    <div class = "container">
    <form th:action="@{user}" method = "get">
    <label> Recherche par nom</label>
    <input type = "text" name ="mc" th:value="${mc}">
    <button class ="btn btn-primary"> recherche</button>
    </form>
</div>

<div class = "container">
<table border ="1" class ="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Prenom</th>
        <th>Nom</th>
        <th>Numero</th>
        <th>email</th>
        <th>Username</th>
        <th>Password</th>
        <th>role</th>

    </tr>
    </thead>

    <tbody>
    <tr th:each="p:${listUsers}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.nom}"></td>
        <td th:text="${p.prenom}"></td>
        <td th:text="${p.num}"></td>
        <td th:text="${p.email}"></td>
        <td th:text="${p.userName}"></td>
        <td th:text="${p.password}"></td>
        <td th:text="${p.roles}"></td>
        <td><a th:href="@{edit(id=${p.id})}">Edit</a></td>

        <td><a onclick="return confirm('Etes vous sure ?')" th:href="@{delete(id=${p.id}, page=${pageCourante}, size=${size},motCle=${mc})}">Delete</a></td>
    </tr>
    </tbody>
</table>
</div>
<div class = "container">
    <ul class ="pagination">
        <li th:class="${pageCourante} == ${status.index} ? 'active' : ''"    th:each="pa,status:${pages}" >
            <a th:href="@{user(page=${status.index},size=${size})}" th:text="${status.index}"></a>
        </li>

    </ul>
</div>
</div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>